html, body {
    height: 100%;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
}

.jumbotron {
    background-image: url("img/vhs.jpeg");
    background-size: cover;
    color: white;
    min-height: 400px;
    text-align: center;
    display: flex;
}

.search-by-title-form {

}