body {
    height: 100%;
    background-color: coral;

}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
    background-color: coral;
}

#jumbotron {
    background-image: url("img/vhs.jpeg");
    background-size: cover;
    min-height: 400px;
    color: Yellow;
    font-size: larger;
}

.lead {
    color: white;
}

#inputForm {
    display:flex;
    align-content: space-between;
}

#movieHeader {
    margin-right: 2em;
}

table{
    border: 5px solid black;
    text-align: center;
    width: 90%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    background-color: coral;
}

tr {
    border: 5px solid black;
}

th {
    border: 5px solid black;
    color: brown;
    font-weight: bold;
    text-decoration: underline;
}

td {
    border: 5px solid black;
}


#T-title {
    font-size: 64px;
    justify-content: center;
    align-items: center;
}

#inputForm {
    background-color: green;

}

/*.loader {*/
/*    position: fixed;*/
/*    left: 0px;*/
/*    top: 0px;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    z-index: 9999;*/
/*    background: url('images/pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);*/
/*    opacity: .0;*/
/*}*/